@charset "UTF-8";
/* CSS Document */


/* RESET STYLESHEET FOR PIXEL-PERFECT DESIGN */
@import url("../../styles/styles/landing_reset_stylesheet.css");

a:link {text-decoration:none; color:#949599; cursor: pointer;}
a:visited {text-decoration:none; color:#6eb442;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

/*--------IMPORT FONTS-----------*/
@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('webfonts/TitilliumText22L001-webfont.eot');
    src: url('webfonts/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/TitilliumText22L001-webfont.woff') format('woff'),
         url('webfonts/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('webfonts/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('webfonts/TitilliumText22L002-webfont.eot');
    src: url('webfonts/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/TitilliumText22L002-webfont.woff') format('woff'),
         url('webfonts/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('webfonts/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('webfonts/TitilliumText22L003-webfont.eot');
    src: url('webfonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('webfonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('webfonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('webfonts/TitilliumText22L004-webfont.eot');
    src: url('webfonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/TitilliumText22L004-webfont.woff') format('woff'),
         url('webfonts/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('webfonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('webfonts/TitilliumText22L005-webfont.eot');
    src: url('webfonts/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/TitilliumText22L005-webfont.woff') format('woff'),
         url('webfonts/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('webfonts/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LXBold';
    src: url('webfonts/TitilliumText22L006-webfont.eot');
    src: url('webfonts/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/TitilliumText22L006-webfont.woff') format('woff'),
         url('webfonts/TitilliumText22L006-webfont.ttf') format('truetype'),
         url('webfonts/TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*GENERAL, GLOBAL ELELMENTS*/
body {
	margin:0;
	padding:0;
	width:100%;
	
	background-color:#bebebe;
}

#container {
	margin-right:auto;
	margin-left:auto;
	width: 1300px;
	height: 967px;
	
	padding: 0;
	
	background-color:#e5e7e3;
	background-image:url(../images/background_tile.png);
	background-repeat:repeat;
}


/*-------HEADER-----------*/
#container #header {
	width:1300px;
	height: 113px;
	background-color:#FFF;
	border: none;
	margin: 0px;
	
	box-shadow: 0px 2px 4px #999;
	-moz-box-shadow: 0px 2px 4px #999;
	-webkit-box-shadow: 0px 2px 4px #999;
}

#logo {
	position:relative;
	top: 32px;
	left: 168px;
	
	text-indent: -9999px;
	display:block;
	
	border: none;
	
	background-image:url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: top left;
	
	width: 221px;
	height: 57px;
}

#logo a:link {
	text-indent: -9999px;
	width: 221px;
	height: 57px;
	display: block;
}

/*-------NAVIGATION-----------*/
#navigation {
	float:right;
	position:relative;
	right: 93px;
	bottom: 25px;
	
}

#navigation ul {
	display: block;
	list-style:none;
	position: relative;
	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

#navigation ul li {
	display: inline;
	margin: 0px 15px 0px 15px;
	text-decoration:none;
	float:left;

	color: #949599;
	font-size:16px;

}

#navigation ul li a{
	text-decoration:none;
	display: block;
	padding: 5px 0px 3px 0px;
	vertical-align:middle;

}

#navigation ul li a:hover {
	color:#539624;
	vertical-align:middle;
	border-top: 2px solid #c5dc67;
	border-bottom: 2px solid #c5dc67;
	padding: 5px 0px 3px 0px;
	position: relative;
	top: -2px;

}


/*-------CONTENT AREA-----------*/
#container #content {
	background-color:#333;
	background-image: url(../images/car_bg.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	
	width: 1135px;
	height: 854px;
	
	margin-left: 165px;
	/*
	margin-left :83px;
	margin-right: 82px;
	*/
	z-index:5;
	}
	
	/*------TITLE SECTION-----*/
#content #title {
	padding: 36px 0px 0px 118px;
}

#content #title h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 36px;
	color: #000000;
}

#content #title p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 160%;
	font-size: 14px;
	width: 400px;
	margin-top: -10px;
}
	
/*--------RESERVE BUTTON and MENU---------*/
#content #left_top_menu {
	padding: 36px 0px 0px 118px;
}	

#content #reserve_button a {
	display: block;
	width: 158px;
	height: 30px;
	color:#FFF;
	text-decoration:none;
	background-image:url(../images/reservenow_button.png);
	background-position:left top;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: .5px;
	font-size:18px;
	padding:12px 0 0 0;
	text-align: center;
	margin-bottom: 20px;
}

#content #reserve_button a:hover {
	background-position:bottom;
	
}

#content #account_links {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 160%;
	color: #949599;
}

#content #account_links ul {
	list-style-image: url(../images/list_arrow.png) ;
	text-indent:none;
	margin: 0;
	border: 0;
	padding: 0 0 0 15px;
}

#content #account_links a {
	color: #539624;
	text-decoration: underline;
}

#content #account_links a:hover {
	color: #71c934;
}


/*--------BOTTOM MENUS---------*/
#bottom_menu {
	margin: 200px 0px 0px 118px;
	width: 849px;
	height: 140px;
	padding-top: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 130%;
	letter-spacing: 1px;
	}
	
/*--------BOTTOM LEFT MENU---------*/
#bottom_menu .left {
	font-size: 13px;
	width: 200px;
	height:140px;
	float:left;
	padding-top: 14px;
}

#bottom_menu .left span{
	color: #539624;	
}

#bottom_menu .left img {
	float: left;
	margin: 0 15px 0 0;
}

#bottom_menu .left a {
	color: #539624;
	text-decoration: underline;
}

#bottom_menu .left a:hover {
	color: #71c934;
}


/*--------BOTTOM MIDDLE MENU---------*/
#bottom_menu .middle {
	width: 253px;
	height: 100%;
	border-left: 2px solid #5d6060;
	float:left;
	padding-top: 14px;
	
}

#email_form {
	height: 35px;
	padding: 0 0 0 30px;
	vertical-align: middle;

}

form input.email {
	border: 1px solid #929497;
	height: 31px;
	text-indent:5px; margin-right:0; float:left;
	width: 140px;
	vertical-align: middle;
}

form input.formimage {
	height:31px;
}

#social_media_buttons {
	margin: 10px 0 0 30px;
	border: none !important;		
}

#social_media_buttons img {
	height: 21px;
	border: none !important;		
}

/*--------BOTTOM RIGHT MENU---------*/
#bottom_menu .right {
	float: right;
	height: 100%;
	width: 370px;
	padding-top: 14px;
	color:#FFF;
	font-size: 13px;
	border-left: 2px solid #656868;
	padding-left: 20px;
	text-align: justify;
	letter-spacing: 1px;
}	

#bottom_menu p.signature {
	color: #71c934;
	text-align: right !important;
}
	/*--------COLOR LEGEND---------*/
	/*  link green #539624
		medium green link hover #71c934
		lighter yellow-green #c5dc67
		text gray  #949599
		darker gray #5d6060
	*/
